//responsive design queries

@mixin tiny-screen(){
  @media only screen and (max-width: 320px){
    @content
  }
}@mixin small-screen(){
  @media only screen and (max-width: 480px){
    @content
  }
}@mixin medium-screen(){
  @media only screen and (max-width: 680px){
    @content
  }
}@mixin large-screen(){
  @media only screen and (max-width: 960px){
    @content
  }
}


@mixin google-font($font){
  $font:unquote($font);
  @import url(https://font.googleapis.com/css?family=#{$font});
}


@mixin warning{
  background-color: orange;
  color: #ffffff;
  &:hover{
    background-color: lighten(orange,15%);
  }
}

@mixin large-text{
  font:{
    size:22px;
    weight: bold;
  }
}

//mixin inside mixing

//mixin with argument
@mixin rounded($radius:6px){
  border-radius: $radius;
}

@mixin box($radius:6px, $border:1px solid grey){
  @include rounded($radius);
  border:$border;
}

@mixin fancy-links{
  a{
    font-style: italic;
    text-decoration: none;
  }
}

@mixin box-shadow($shadows...){
  box-shadow:$shadows;
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;

}

@mixin apply-to-ie-6{
  * html{
    @content;
  }
}